<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
    .button {
        background-color: green;
        color: white;
        border: 2px solid black;
        margin: 6px;
        padding: 6px;
        font-size: 140%;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
  <h1>Search</h1>
  <form th:object="${fine}" th:action="@{/amendAmount}" method="post">
      <div>
          <label for="reference">Reference:</label>
          <input id="reference" th:field="*{reference}" placeholder="reference"/>
      </div>
      <div>
          <label for="postcode">Postcode:</label>
          <input id="postcode" th:field="*{postcode}" placeholder="postcode"/>
      </div>
      <div>
          <button class = button type="submit">Submit</button>
      </div>
  </form>
</body>
</html>